.main {
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.overview {
  height: 300px;
  overflow: auto;
}
.overview::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
